
.img-container{
  text-align: center;
}

body {
  font-family: 'Righteous', sans-serif;
  background-color: #FFAF87;
  color: #502F4C;
}
h2, h3 {
  font-family: 'Righteous', sans-serif;
  color: #502F4C;
}
h1 {
  font-family: 'Righteous', sans-serif;
  font-style: bold;
  letter-spacing: 1px;
  color: #502F4C;
}
h3{
  font-size: 40px;
  margin-bottom: auto;

}

.header {
  background-color: #FF8E72;
  padding: 20px 0;
  text-align: center;
  position: relative;
  height: 400px; /* Adjust height as needed */
  overflow: hidden; /* Ensure no overflow */
}

.header-image {
  width: 100%; /* Make the image span the full width of the header */
  height: 100%; /* Make the image span the full height of the header */
  object-fit: contain; /* Contain the image within the header */
  z-index: 0;
  opacity: 0.8; /* Adjust opacity as needed */
  position: absolute;
  top: 0;
  left: 0;
}

nav {
  background-color: #ED6A5E;
  text-align: left;
  padding: 20px;
}
nav a {
  color: #502F4C;
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
}
main {
  margin-left: 20px;
}
footer {
  background-color: #ED6A5E;
  color: #502F4C;
  padding: 20px; 
  text-align: center;
}
section p {
      text-indent: 20px;
      padding: .2px;
}

/* Background Image with Opacity */
body {
  background-image: url('img/SalmonCookie.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* 
#ED6A5E - Deep Salmon
#FF8E72 - Mid Salmon
#FFAF87 - light Salmon
#502F4C - Purp
#000000 - Salmon
*/