body {
  font-family: sans-serif;
  line-height: 1.6;
  background-color: #FFAF87;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #502F4C;
  text-align: left;
}

.sales-table th, .staff-table th {
  background-color: #FF8E72;
}

.sales-table {
  margin-top: 20px;
}

.staff-table {
  margin-top: 40px;
}

.staff-table th, .staff-table td {
  text-align: center;
}

/* 
#ED6A5E - Deep Salmon
#FF8E72 - Mid Salmon
#FFAF87 - light Salmon
#502F4C - Purp
#000000 - Salmon
*/